SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=
# DATABASE_URL=postgres://user:password@localhost:5432/school_api

KEYCLOAK_SERVER_URL=https://auth.flavien-pensato.fr
KEYCLOAK_REALM=mfr-chatte
KEYCLOAK_CLIENT_ID=school-api
KEYCLOAK_CLIENT_SECRET=
